In [1]:
import pandas as pd
import numpy as np

In [2]:
train_ad=pd.read_csv("../train_preliminary/ad.csv")
train_click_log=pd.read_csv("../train_preliminary/click_log.csv")
train_user=pd.read_csv("../train_preliminary/user.csv")

In [3]:
train_merged=pd.merge(train_ad,train_click_log,on='creative_id')
train_merged=pd.merge(train_merged,train_user,on='user_id')
train_merged.replace({"\\N":"0"},inplace=True)
train_merged=train_merged.astype(int)
display(train_merged)
# 注意这里不要保存index
train_merged.to_csv("train_merged.csv",index=False)
# 读数据要注意先转换成int类型
# train_merged=train_merged.astype(int)

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times,age,gender
0,1,1,0,5,381,78,81,398695,1,4,1
1,68590,63392,0,18,14681,88,14,398695,1,4,1
2,127337,114621,0,18,9409,25,3,398695,1,4,1
3,138157,124124,23,2,9065,319,8,398695,1,4,1
4,147066,132027,0,18,22918,319,1,398695,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...
30082766,4263153,3657208,1810,2,61922,319,90,630049,1,3,2
30082767,4291152,3680507,2400,2,57709,246,89,630049,1,3,2
30082768,4374249,3750607,0,18,10986,6,89,630049,2,3,2
30082769,4376574,3752641,1261,2,10988,6,90,630049,2,3,2
30082770,4407804,3779497,1261,2,10988,6,91,630049,2,3,2

In [4]:
%reset -f
import pandas as pd
import numpy as np

In [5]:
predict_ad=pd.read_csv("../test/ad.csv")
predict_click_log=pd.read_csv("../test/click_log.csv")

In [6]:
predict_merged=pd.merge(predict_ad,predict_click_log,on='creative_id')
predict_merged.replace({"\\N":"0"},inplace=True)
predict_merged=predict_merged.astype(int)
display(predict_merged)
# 注意这里不要保存index
predict_merged.to_csv("predict_merged.csv",index=False)
# 读数据要注意先转换成int类型
# train_merged=train_merged.astype(int)

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times
0,1,1,0,5,381,78,81,3153317,1
1,1,1,0,5,381,78,81,3284714,1
2,1,1,0,5,381,78,81,3491929,1
3,1,1,0,5,381,78,81,3831238,1
4,1,1,0,5,381,78,82,3304452,1
...,...,...,...,...,...,...,...,...,...
33585507,4445715,3812197,39063,17,427,0,91,3697572,1
33585508,4445718,3812200,39287,17,427,0,91,3306334,1
33585509,4445719,3812201,39287,17,427,0,91,3692401,1
33585510,4445719,3812201,39287,17,427,0,91,3933083,1
33585511,4445720,3812202,39287,17,427,0,91,3312130,1

In [1]:
%reset -f
import pandas as pd
train_merged=pd.read_csv('train_merged.csv')
df=train_merged
agg_func={
    'click_times':['mean'],
    'advertiser_id':['nunique','count'],
    'industry':['nunique','count'],
    'time':['nunique','count'],
    'product_category':['nunique','count'],
    'product_id':['nunique','count'],
    'ad_id':['nunique','count'],
}
agg_df=df.groupby(['user_id']).agg(agg_func)
agg_df.columns = ['_'.join(col).strip() for col in agg_df.columns.values]
agg_df.reset_index(inplace=True)
# agg_df["click_times_mean"]*=1e6
# agg_df=agg_df.round(0).astype(int)
agg_df.pop("user_id")
display(agg_df)
agg_df.to_csv("agg.csv",index=False)

,click_times_mean,advertiser_id_nunique,advertiser_id_count,industry_nunique,industry_count,time_nunique,time_count,product_category_nunique,product_category_count,product_id_nunique,product_id_count,ad_id_nunique,ad_id_count
0,1.076923,12,13,9,13,10,13,3,13,6,13,12,13
1,1.022222,36,45,15,45,28,45,3,45,20,45,42,45
2,1.000000,28,30,8,30,23,30,6,30,17,30,30,30
3,1.000000,26,29,10,29,15,29,6,29,18,29,29,29
4,1.030303,30,33,18,33,26,33,4,33,7,33,33,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,1.000000,12,14,5,14,12,14,3,14,5,14,13,14
899996,1.111111,13,18,10,18,14,18,4,18,10,18,17,18
899997,1.071429,9,14,5,14,10,14,4,14,5,14,14,14
899998,1.000000,16,22,14,22,17,22,7,22,5,22,18,22
899999,1.000000,10,12,10,12,12,12,2,12,2,12,12,12

In [7]:
%reset -f
import pandas as pd
df=pd.read_csv('train_merged.csv')
user_info=df.drop_duplicates(subset='user_id',ignore_index=True)
user_info=user_info.drop(columns=["creative_id", "ad_id", "product_id", "product_category", "advertiser_id", "industry", "time", "click_times"])
user_info["gender"]-=1
user_info.astype(int)
user_info.sort_values(by=["user_id"],inplace=True)
display(user_info)
user_info.to_csv("user_info.csv",index=False)

        user_id  age  gender
754778        1    4       0
317872        2   10       0
730333        3    7       1
526028        4    5       0
474391        5    4       0
...         ...  ...     ...
787927   899996    5       0
157412   899997    3       1
756314   899998    4       1
300339   899999    3       0
859309   900000    3       1

[900000 rows x 3 columns]