In [2]:
import pandas as pd
import numpy as np

In [3]:
train_merged=pd.read_csv('./train_merged.csv')
train_merged.describe()

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times,age,gender
count,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07,3.008277e+07
mean,1.676532e+06,1.447917e+06,3.928835e+03,8.128011e+00,2.119445e+04,1.610350e+02,4.801738e+01,4.498556e+05,1.063127e+00,4.233062e+00,1.316965e+00
std,1.308054e+06,1.120569e+06,9.123197e+03,7.055121e+00,1.406527e+04,1.290624e+02,2.592504e+01,2.599939e+05,2.982831e-01,2.049908e+00,4.652938e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,4.158100e+05,3.711100e+05,0.000000e+00,2.000000e+00,1.098600e+04,8.000000e+00,2.600000e+01,2.246130e+05,1.000000e+00,3.000000e+00,1.000000e+00
50%,1.508864e+06,1.310317e+06,1.290000e+02,3.000000e+00,1.810300e+04,2.020000e+02,4.900000e+01,4.498040e+05,1.000000e+00,4.000000e+00,1.000000e+00
75%,2.740464e+06,2.355111e+06,1.873000e+03,1.800000e+01,3.003400e+04,2.930000e+02,7.100000e+01,6.752420e+05,1.000000e+00,6.000000e+00,2.000000e+00
max,4.445718e+06,3.812200e+06,4.431300e+04,1.800000e+01,6.296500e+04,3.350000e+02,9.100000e+01,9.000000e+05,1.520000e+02,1.000000e+01,2.000000e+00

In [4]:
display(train_merged[train_merged["user_id"]==100])

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times,age,gender
3554025,1852,2538,0,5,7278,6,72,100,1,3,1
3554026,69319,64080,0,18,30825,322,5,100,1,3,1
3554027,69339,64099,27063,3,17243,319,42,100,1,3,1
3554028,82261,75437,8518,3,31462,21,66,100,2,3,1
3554029,91934,83984,8518,3,28661,21,48,100,2,3,1
3554030,91935,83984,8518,3,28661,21,45,100,1,3,1
3554031,112831,102085,8518,3,31462,21,53,100,1,3,1
3554032,203686,182889,0,18,5883,40,10,100,1,3,1
3554033,342087,307092,0,18,30907,322,31,100,1,3,1
3554034,417690,372742,0,18,2003,40,5,100,1,3,1
3554035,459150,408222,31844,3,32717,321,46,100,1,3,1
3554036,654508,581187,27031,3,1835,317,61,100,1,3,1
3554037,882344,777688,0,18,10989,297,23,100,1,3,1
3554038,882344,777688,0,18,10989,297,40,100,1,3,1
3554039,1130294,990980,0,18,2003,40,23,100,1,3,1
3554040,1357926,1186619,0,18,10955,238,29,100,1,3,1
3554041,1363755,1191575,0,5,22716,99,25,100,1,3,1
3554042,1395359,1217797,0,18,39177,322,26,100,1,3,1
3554043,1407202,1227777,0,18,14421,289,41,100,1,3,1
3554044,1624389,1408433,8828,3,32505,247,31,100,1,3,1
3554045,1671327,1448362,8988,3,41525,253,35,100,1,3,1
3554046,1881449,1628742,0,18,10990,6,40,100,1,3,1
3554047,2037496,1761133,189,3,22963,329,42,100,1,3,1
3554048,2189107,1889712,26940,3,23197,57,50,100,1,3,1
3554049,2215670,1912585,27031,3,32735,317,90,100,2,3,1
3554050,2370176,2043552,643,3,7026,6,73,100,1,3,1
3554051,2504224,2156639,29664,3,34377,242,60,100,1,3,1
3554052,2573071,2215674,27031,3,42171,317,84,100,1,3,1
3554053,2844004,2444998,992,3,4751,321,90,100,1,3,1
3554054,2844004,2444998,992,3,4751,321,73,100,1,3,1
3554055,3074482,2644255,8518,3,35952,21,66,100,1,3,1
3554056,3084307,2652815,0,5,52469,202,64,100,1,3,1
3554057,3096193,2663246,27031,3,42171,317,67,100,1,3,1
3554058,3263932,2807952,27031,3,32735,317,80,100,1,3,1
3554059,3333445,2867903,27063,3,28091,319,80,100,2,3,1
3554060,3447833,2968433,0,18,4659,230,77,100,1,3,1
3554061,3731363,3209764,0,18,10955,238,79,100,1,3,1
3554062,4089042,3509332,0,18,39111,319,84,100,1,3,1
3554063,4097183,3516142,0,18,24894,319,84,100,2,3,1

In [ ]:
features=["creative_id","ad_id","product_id","product_category","advertiser_id","industry","time","click_times"]
for feature in features:
    cur=df.groupby("user_id")[feature].apply(list)
    display(cur)